* {             /* IMPORTANT */
    /* asterick (universal selector) is useful when you want to select all elements on the page.*/
    
    margin: 0;
    font-family: 'georgia', sans-serif;
  }


header {
    width: 100%;
    display: table;
    position: fixed;
    background-color: darkgray;
    padding: 0px;
    
}

.hero-image {
    background-image: url(./images/hero-image.png);
    width: 100%;
    height: 100%;
    background-position: 0px 18px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

/* changing default value of rem from 16px to 10px */

body, html {
  margin: 0;
  padding:0;
 height: 98%;

}



.hero-text {                /* IMPORTANT */
  text-align: center;
  position: fixed;
  top: 35%;
  color: lightskyblue;
  left: 80%;
  /* transform - horizontal-Vertical*/
  transform: translate(-50%, -50%);
  bottom: 40%
}

.horizontal {
  /* relative caused it to be adjusted away from normal position*/
position: relative;
top: 20px;
height: 12px;
background: whitesmoke;
}

.cta-button a{
  text-decoration: none;
  background-color: darkturquoise;
  padding: 7px;
  border-radius: 7px;
  transition-duration: 0.5s;
  font-weight: bold;
}

.cta-button a:hover{
  background-color: yellow;
}

.navigation {
    width: 30%;
    margin: 0, auto;
}


nav {
    float: right;
}

nav ul {
margin: 0%;
list-style: none;
}

nav li{
    display: inline-block;
    margin:  20px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.5s;
    background-color:yellow;
}

.contacts {
    /* This is the H1 of contact page*/
    padding: 20px;
    text-align: center;
  }
  

  .contact-form{
    /* flex aligns in a row*/
    display: flex;
    justify-content: center;
    
  }

  .submit-button{
    color:black;
    transition-duration: 0.5s;
    border-radius: 10px;
    /* top-down, left-right*/
    padding: 6px 15px;
  }
  
  .submit-button:hover{
    background:yellow;
  }

  .body-background{
      background-color: whitesmoke;
      height: 100%;
      width: 100%;
  }

  .logo {
    height: 50px;
    width: auto;
  /* fixed-relative to the viewport*/
    position: fixed;
    top: 4px;
    left: 50px;
  
  }

  .heading-one {
    text-align: center;
    position: relative;
    top: 4%;
    left: 18%;
    font-size: 25px;
    /* transform - horizontal-Vertical*/
    transform: translate(-50%, -50%);
    bottom: 40%
  }


  .categories {
    padding-top: 120px;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin: 10px 300px;
  }

  .card-image{
height: 60%;
  }

  .card-detail{
    background: #e5dede;
    padding: 10px;
  }


  .product-page {
    height: 300%;
  }

  @media screen and (max-height: 700px) {

.categories {
height: 50%;
}


.card-detail {
background-color: red;

}

  }

footer {    
    padding: 10px;        
    position: fixed;
    bottom:0%;
    width:100%;
    background-color: darkgray;
    text-align: center;
    font-size: 14px;
  }

  